<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>org.jenkinsci.plugins.matrixauth.AmbiguityMonitor</string>
    <string>jenkins.monitor.JavaVersionRecommendationAdminMonitor-2</string>
    <string>jenkins.monitor.JavaVersionRecommendationAdminMonitor</string>
    <string>jenkins.diagnostics.ControllerExecutorsNoAgents</string>
    <string>OldData</string>
    <string>jenkins.model.BuiltInNodeMigration</string>
    <string>jenkins.security.QueueItemAuthenticatorMonitor</string>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.414.1</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
  <role name="admin" pattern=".*">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:payal</permission>
    
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:payal</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:payal</permission>

    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:payal</permission>
	
    <permission>hudson.model.Computer.Build:payal</permission>

    <permission>hudson.model.Computer.Configure:payal</permission>

    <permission>hudson.model.Computer.Create:payal</permission>
    
    <permission>hudson.model.Computer.Disconnect:payal</permission>
    
    <permission>hudson.model.Hudson.Administer:payal</permission>

    <permission>hudson.model.Hudson.Read:payal</permission>
	
    <permission>hudson.model.Hudson.SystemRead:payal</permission>

    <permission>hudson.model.Item.Build:payal</permission>
    
    <permission>hudson.model.Item.Cancel:payal</permission>
	
    <permission>hudson.model.Item.Configure:payal</permission>
	
	<permission>hudson.model.Item.Create:payal</permission>

    <permission>hudson.model.Item.Discover:payal</permission>

    <permission>hudson.model.Item.Move:payal</permission>

    <permission>hudson.model.Item.Read:payal</permission>

    <permission>hudson.model.Run.Delete:payal</permission>
    
    <permission>hudson.model.Run.Update:payal</permission>
 
    <permission>hudson.model.View.Configure:payal</permission>

    <permission>hudson.model.View.Create:payal</permission>
    <permission>hudson.model.View.Read:payal</permission>
    <permission>hudson.scm.SCM.Tag:payal</permission>
    <permission>org.jenkins.ci.plugins.jobimport.JobImportAction.JobImport:payal</permission>
	 <assignedSIDs>
        <sid>anonymous</sid>
    </assignedSIDs>
    </role>
  </authorizationStrategy>
  
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="java.lang.String$CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>MAVEN_OPTS</string>
          <string></string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../../../hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
          </default>
          <int>1</int>
          <string>MAVEN_OPTS</string>
          <string></string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
  <globalNodeProperties/>
  <nodeRenameMigrationNeeded>false</nodeRenameMigrationNeeded>
</hudson>